<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav" id="nav">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid ms-5 me-5">
            <a class="navbar-brand" href="#">Member_Board</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/member/save">회원가입</a>
                    </li>

                    <li class="nav-item">
                        <div th:if="${session.loginEmail != null}">
                            <a class="nav-link" href="/board">글목록</a>
                        </div>
                    </li>

                    <li class="menu-item">
                        <div th:if="${session.loginEmail == 'admin'}">
                            <a href="/member/admin">관리자 화면</a>
                        </div>
                        <div th:unless="${session.loginEmail == 'admin'}">
                            <div th:if="${session.loginEmail != null}">
                            <a href="/member/mypage">My Page</a>
                            </div>
                        </div>
                    </li>

                    &nbsp;
                    <li class="nav-item align-middle " id="login-area">

                    </li>
                </ul>
            </div>
        </div>
                <script th:inline="javascript">
                    const loginArea = document.getElementById("login-area");
                    const loginEmail = [[${session.loginEmail}]];
                    if (loginEmail != null) {
                        if (loginEmail == "admin"){
                            loginArea.innerHTML =" 관리자 로그인 중 "+ "<a href='/member/logout'>logout</a>"
                        }else {
                            loginArea.innerHTML =  loginEmail + "님 환영해요!</a>" +
                                "<a href='/member/logout'>  logout</a>"
                            loginArea.style.color = "yellow";

                        }
                    } else {
                        loginArea.innerHTML = "<a href='/member/login'>로그인</a>";
                        loginArea.style.color = "red";
                    }
                </script>



        <form action="/board" method="get" class="d-flex" role="search">
            <select name="type" class="form-select me-2 w-auto">
                <option value="boardWriter">작성자</option>
                <option value="boardTitle">제목</option>
            </select>
            <input class="form-control me-2 w-auto" type="search" name="q" placeholder="검색어를 입력하세요"
                   aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>


    </nav>
</div>
<script>
    const search_func = () => {
        console.log("검색함수");
    }
</script>


</body>
</html>