<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav2" id="nav2">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid ms-5 me-5">
            <a class="navbar-brand" href="#">Member_Board</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">index</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/member">회원 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/member/logout">logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>